h1{
   /* code */
    /*0->9 a->f hex*/
    /* 0->255 rgb*/
    color: aquamarine; //keyword or text
    text-align: center;
}
p{
    color: blueviolet;
    text-indent: 50px;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 20px;
}