/* universal selector */
/* *{
    color: rgb(217, 0, 255);
} */
/* tag or element selector */
h1{
    text-align: center;
    color: hsl(315, 80%, 10%);
}
/* attribute selector */
a[title="google"]{
    letter-spacing: 10px;
}
/* id selector */
#idselector{
    text-indent: 40px;
}
/* class selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 5px;
    line-height: 40px;
}
/* descentant selector */
div p {
    background-color: aquamarine;
}

/* child selector */
div>p {
    color: brown;
}
span>p {
    color:green;
}
/* pseudo selector */
h1 a:hover{
    color: white;
    font-size: 50px;
    background-color: blueviolet;
}
h1:hover{
    color: aqua;
}
h2 a:link{
    color: brown;
}
h2 a:hover{
    color: purple;
}
/* h2 a:visited{
    color: green;
} */
h2 a:active{
    color: yellow;
}
h2 a:hover{
    color:blue;
}
h2 a:hover{
    color: red;
}
/* target */
:target{
    display: block;
    color: blueviolet;
    border: 1px solid yellowgreen;
    line-height: 10px;
    letter-spacing: 10px;
}
.inline{
    border:1px solid red;
    display: inline-block;
    width: 100px;
}
.block{
    border: 1px solid green;
    width: 300px;
    display: inline;
}
/* float */
.float-right img{
width: 40%;
float: right;
}
.clear{
   clear: both;
}
.float-left img{
    width: 40%;
    float: left;
}
/* gird */
.gridone div ,.gridtwo div,.gridthree div,.gridfour div,.gridfive div{
padding: 20px;
color: white;
text-align: center;
}
.gridone,.gridtwo,.gridthree,.gridfour,.gridfive{
    display: grid;
    grid-template-columns: auto auto  auto;
}
.gridtwo{
    grid-column-gap: 50px;
}
.gridthree{
    grid-row-gap: 50px;
    /* grid-gap: 30px */
  grid-column-gap: 70px;
}
.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}
.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}
/* Position */
.parent_absolute{
    width: 1200px;
    height: 500px;
    border: 1px solid red;
    position: relative;
}
.absolute{
    width: 400px;
    height: 200px;
    border: 1px solid green;
    position: absolute;
    top: 10px;
    left: 150px;
}
.parent_relative{
    width: 1200px;
    height: 500px;
    border: 1px solid yellow;
}
.relative{
    width: 400px;
    height: 200px;
    border: 1px solid brown;
    position: relative;
    top: 10px;
    left: 150px;
}
.fixed{
    position: fixed;
    top: 50px;
    right: 100px;
}
.online{
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: playwrite;
    src: url(Playwrite_BE_WAL/PlaywriteBEWAL-VariableFont_wght.ttf);
}
.offline{
    font-family: playwrite;
}



